/* ================================

    GENERAL

===================================*/

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    background: #ffffff;
}

body {
    position: relative;
}

.navbar-nav {
    margin: 34.5px -15px;
}

hr {
    border-top: 1px solid #c3dae2;
}

.scrollUpTo {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: none;
    border: 2px solid rgb(78, 205, 196);
    z-index: 999999;
    background: url('../imgs/arrow.svg') no-repeat center center;
    background-size: 56%;

}

a {
    color: #4fcdc4;
    text-decoration: none;
}

a:hover, a:visited {
    text-decoration: none;
    color: #4fcdc4;
    opacity: 0.8;
}

.portfolio-modal a.btn {
    color: white;
}

/* ================================

    Headings

===================================*/

h1, h3 {
    text-align: center;
    color: #808990;
}

h1 {
    font-size: 4rem;
    color: #545454;
    font-weight: bold;
    line-height: 4.3rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

header {

}

header h2 {
    font-size: 2rem;
}

header h3 {
    font-size: 3rem;
}

header .lead {

    text-align: center;
    padding: 10px 0;
    max-width: 50%;
    margin: 0 auto
}

header hr {
    width: 3%;
    border: 2px solid #4ecdc4;

}

.heroImg {
    background: linear-gradient(rgba(247, 247, 247, 0.8),
    rgba(247, 247, 247, 0.8)),
    url('../imgs/geometric.svg') center center repeat #f7f7f7;
    width: 100%;
    background-size: 16%;
    background-attachment: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbWrapper {
    position: relative;
    top: 82px;
}

.breadcrumb {
    padding: 8px 0;
}

/*------------------------------

    BUTTONS

--------------------------------*/

header a:first-child {
    margin-right: 2%;
}

header a {
    margin-top: 2%;
}

/* BUTTON DEFAULT*/

.btn-default {
    color: #fff;
    background: #4ecdc4 none;

}

.btn-default, .btn-default:hover {
    background-image: none;

}

.btn-default:hover {
    box-shadow: inset 0 0 0 5px #48bfb6;
    background: #4ecdc4 none;
    border: 3px solid #48bfb6;
    color: #FFFFFF;
}

.btn-default:active,
.btn-default.active {
    box-shadow: inset 0 0 0 0 #48bfb6;
    color: #ffffff;
    background: none #FFFFFF;
    border-color: #48bfb6;
}

.btn-default:focus,
.btn-default.focus {
    color: #ffffff;
    background-color: #4ecdc4;
    border-color: #48bfb6;
    box-shadow: inset 0 0 0 0 #48bfb6;
    background-image: none;
}

.btn-default:active:hover,
.btn-default.active:hover {
    color: #ffffff;
    background: none #4ecdc4;
    border-color: #48bfb6;
}

.btn-default, .btn-primary {
    border-radius: 5px;
    border: 3px solid #48bfb6;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    letter-spacing: 1px;

}

/* BUTTON PRIMARY*/

.btn-primary {
    color: #4ecdc4;
    background: transparent none;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 5px #48bfb6;
    background: #FFFFFF none;
    border: 3px solid #48bfb6;
    color: #4ecdc4;

}

.btn-primary:active,
.btn-primary.active {
    color: #ffffff;
    background-color: #4ecdc4;
    border-color: #48bfb6;
    background-image: none;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #ffffff;
    background-color: #4ecdc4;
    border-color: #48bfb6;
    box-shadow: inset 0 0 0 0 #48bfb6;
    background-image: none;
}

.btn-primary:active:hover,
.btn-primary.active:hover {
    color: #ffffff;
    background-color: #4ecdc4;
    border-color: #48bfb6;
    background-image: none;
}

.introWrapper h1 {
    width: 50%;
    font-size: 3rem;
}

.imgResponsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-boxSize {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 10px auto;
}

.portfolio-boxSize .portfolioContainerDescription {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.portfolio-boxSize .portfolioContainerDescription .portfolioDescription {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-boxSize:hover .portfolioContainerDescription {
    opacity: 1;

}

.portfolioDescription p {
    color: #343434;
}

.category {
    font-size: 1rem;
    text-transform: uppercase;
}

.projectName {
    font-size: 1.5rem;
}

.year {
    font-size: 1rem;
}

.justified-btn {
    margin: 0 auto;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-tabs, .nav-pills {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

.brand-logo {
    background: url("../imgs/sposato-logo.svg") no-repeat center center;
    width: 150px;
    max-width: 170px;

}

.navbar-brand {
    margin-left: 15px;
}

footer img {
    width: 250%;
    max-width: 250px;
}

nav .navbar-nav .navbar-right li a {
    color: #bbbbbb;
}

nav .navbar-nav .navbar-right li a:hover {
    color: #4b5761;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    margin: 4px -15px;
}

.navbar-default {
    background-color: #f7f7f7;
    border-color: #eeeeee;
    height: 50px;
}

@media (max-width: 767px) {

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #eeeeee;
        padding: 20px;
    }

}

/*---------------------------------------

    ABOUT

----------------------------------------*/

hr.pink-line {
    width: 10%;
    border: 2px solid #4ecdc4;
    text-align: center;
}

.primary-colour {

    background-color: #f7f7f7;
}

section, footer {
    padding: 100px 0;
}

.commas {
    content: open-quote;
    color: #ffffff;
    font-size: 4rem;
    margin-top: 2%;
}

#about p {
    color: #808990;
    line-height: 1.5rem;
}

.educationParagraph {
    margin: 18px 0;
}

#about #myPic {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

#about h3 {
    color: #808990;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 20px;
}

.circle {
    border-radius: 50%;
    background: #FFFFFF;
    width: 50px;
    height: 50px;
    margin: 16px auto;
}

#about i {
    text-align: center;
    display: block;
    position: relative;
    color: #808990;
    padding-top: 2rem;

}

#about h4 {
    text-align: left;
    margin: 14px 0;
    font-size: 18px;
    color: #4ecdc4;
    font-weight: 600;
    line-height: 2rem;
}

.educationParagraph {
    text-align: center;
}

#about .row .columnMargin {
    margin: 30px auto;
}

/*-------------------------

     SERVICES

--------------------------*/

#services h3 {
    padding: 0 10px 0 5px;
    margin: 15px 0 20px 0;
    line-height: 2rem;
    font-weight: 600;
}

#services h3, #services p {
    color: #22223a;
    line-height: 1.9rem;

}

.box {
    background-color: #ffffff;
    padding: 7%;
    border-radius: 3px;
    border: solid 1px #f7f7f7;
    margin-bottom: 2rem;
    min-height: 370px;
}

.box .circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 16px auto;
}

.fa-stack {
    position: static;
}

.text-primary {
    color: #4ecdc4;
}

/*-------------------------

     SKILLS

--------------------------*/

#skills .lead {
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.panel {
    background-color: #ffffff;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #4ecdc4;
    border-color: #d9230f;
}

.panel-primary {
    border-color: #4ecdc4;
}

.panel-success > .panel-heading{
    color: #4ecdc4;
    background-color: #ffffff;
    border-color: #4ecdc4;
}

.panel-success > .panel-heading, #panelTitle  {

    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: block;

}

.panel-success {
    border-color: #4ecdc4;
}

.bgLightGray {
    background-color: #f7f7f7;
}

.bgWhite {
    background-color: #ffffff;
}

.panel-group {
    width: 80%;
    margin: 18px auto;
}

/*-------------------------

     PORTFOLIO

--------------------------*/

.popup-gallery {
    margin: 4rem auto;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio * {
    z-index: 2;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

.portfolio-caption h4 {
    font-size: 18px;
    font-weight: 600;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.img-centered {
    margin: 0 auto;
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 2.5rem;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 10px 0 30px;
    font-size: 18px;
    text-align: center;
}

.text-muted {
    color: #4fcdc4;
    font-weight: 400;
    letter-spacing: 1px;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    border-top: 1px solid #d9e8e6;
    margin-top: 28px;
    padding-top: 20px;
    text-align: center;
}

.portfolio-modal .close-modal .lr {
    margin-left: 35px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
    height: 50px;
    width: 10px;
    background-color: #4fcdc4;
}

.portfolio-modal .close-modal .lr .rl {
    height: 50px;
    width: 10px;
    background-color: #4fcdc4;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}

.modal-body p {
    margin: 0 0 9px;
    line-height: 1.8rem;
    text-align: justify;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}

.modal-dialog {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

.modal-body .list-inline > li {
    padding-left: 10px;
    padding-right: 10px;
    color: #b1b1b1;
    font-size: 0.9rem;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(78, 205, 196, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}

/* FOOTER */

footer {
    background-color: #6c737d;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

footer ul {
    list-style: none;
}

footer h4 {
    font-weight: 700;
}

footer p, footer h4 {
    color: #bbbbbb;
}

.copyright {
    text-align: center;
    color: #bbbbbb;
    border-top: solid 1px #bbbbbb;
    padding-top: 30px;
    margin-top: 30px;
    width: 100%;
}

footer a:link, footer a:visited {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover, footer a:active, footer a:focus {
    color: #ffffff;
    text-decoration: none;
}

footer .fa {
    color: #bbbbbb;
}

.readMoreText {
    display: none;
}

.lightGray {
    color: #93b3b3;
}

footer .btn-link {
    color: #4b5761;
    font-size: 1rem;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

footer .btn-link:hover {
    color: #bbbbbb;
    text-decoration: none;
}

/* LATEST NEWS */

.tweaked-margin {
    margin: 3rem auto;
}

#blog h3 {
    text-align: left;
    margin: 0 0 10px 0;
    color: #444444;
}

#blog a {
    color: #4ecdc4;
}

#blog a:hover {
    color: #48bfb6;
}

#blog article a {

    text-decoration: none;
    padding: 0;
}

.iconSpace {
    padding: 0 0 0 0.5rem;
    font-size: 0.8rem;
}

footer i {
    vertical-align: middle;
}

footer ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

footer .colorIcons {
    color: #bbb;
    font-size: 1.1rem;
    margin-right: 0.5rem;
    width: 28px;
    display: inline-block;
    line-height: 1.8rem;
}

footer img {
    margin-bottom: 4rem;
}

#emailLink {
    color: #4ecdc4;
    padding: 1rem 0;
    font-size: 1.2em;
}

#emailLink:hover {
    color: #48bfb6;
}

#emailLink i {
    font-size: 1.5rem;
    color: #4ecdc4;
}

#about .btn-link {
    color: #4ecdc4;
    padding: 0;
}

#about .btn-link:hover {
    color: #4ecdc4;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4ecdc4;
    background-color: transparent;
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 7.5px -15px;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
        width: 100%;
    }

}

#usefulLinks {
    display: block;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #4ecdc4;

}

/* Extra Small Devices, Phones */

@media only screen and (min-device-width: 380px) {

    /* FOOTER */
    .copyright {
        width: 80%;
        margin: 30px auto 0 auto;
    }

    footer img {
        margin-bottom: 2rem;
    }

    #skills .lead {
        width: 100%;
    }

    .commas {
        font-size: 3rem;
    }

    #services ul {
        list-style: none;
        text-align: center;
        padding: 0 0 0 0;
    }

    #services p {
        color: #545454;
        line-height: 1.8rem;
    }

    #services h3 {
        padding: 0 0 0 0;
        margin: 15px 0 20px 0;
        line-height: 2rem;
        text-align: center;

    }

    section, footer {
        padding: 40px 0;
    }

    footer ul {
        text-align: center;
    }

    #linkedin,
    #behance,
    #facebook,
    #twitter,
    #github {
        display: none;
    }

    .socialIcons {
        display: inline-block;
        margin: 0 auto;
        max-width: 992px;
    }

    #usefulLinks {
        display: none;
    }

    footer p, footer h4 {
        text-align: center;
        padding: 0.5rem 0;
    }

    footer .socialIcons i {
        font-size: 1.4rem;
    }

    footer a:link, footer a:visited {
        text-align: center;
        display: block;
    }

    /* SECTION HOME */
    .navbar-default {
        padding: 10px 0;
        height: auto;
    }

    .heroImg {
        background-size: 72%;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    header hr {
        width: 16%;
    }

    header h2 {
        font-size: 1.8rem;
    }

    header .lead {
        padding: 20px 0;
        max-width: 90%;
        font-size: 1rem;
    }

    header a:first-child {
        margin-right: 6%;
    }

    .btn-lg {
        padding: 15px 16px;
    }

    #home .btn-default, #home .btn-primary {
        width: 90%;
    }

    header a:first-child {
        margin-right: 0;
    }

    #home .btn-default {
        margin-bottom: 6px;
    }

    /* SECTION ABOUT */
    #about h3 {
        text-align: left;
        margin-top: 3rem;
        font-weight: 600;
        color: #545454;
        font-size: 22px;
    }

    .lead {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    #about p {
        line-height: 1.8rem;
        text-align: left;
        color: #4d5e75;

    }

    #about #myPic {
        display: none;
    }

    #about .btn-link {
        font-size: 1rem;
    }

    /* SECTION SKILLS */
    .panel-group {
        width: 100%;
    }

    /* SECTION BLOG */
    #blog .nav-tabs {
        border-bottom: 1px solid #ffffff;
    }

    #blog .nav > li > a {
        position: relative;
        display: block;
        padding: 18px 35px;
        width: 100%;
        border: 1px solid #bbbbbb;
        margin: 4px;
    }

    .nav-tabs > li, .nav-pills > li {
        display: block;
    }

    #blog .nav-tabs > li > a {
        line-height: 1.42857143;
        border: 2px solid #cce4e3;
        border-radius: 4px;
        background: #ffffff;
        color: #93b3b2;
        margin: 10px auto 0 auto;
    }

    #blog .nav-tabs > li.active > a,
    #blog .nav-tabs > li.active > a:hover,
    #blog .nav-tabs > li.active > a:focus {
        color: #777777;
        border: 2px solid #4ecdc4;
        cursor: default;
    }

    #blog h3 {
        text-align: center;
        margin: 30px 0 15px 0;
    }

    #blog .lightGray {
        text-align: center;
    }

    #blog p {
        text-align: left;
    }

    #blog a {
        font-size: 1.0rem;
    }

    #usefulLinks {
        display: none;
    }

    .popup-gallery {
        margin: 2rem auto;
    }

    #about img {
        width: 100%;

    }

    /*SECTION PORTFOLIO*/
    .portfolio-modal .close-modal .lr {
        height: 36px;
        width: 7px;
    }

    .portfolio-modal .close-modal .lr .rl {
        height: 36px;
        width: 7px;
    }

    .modal-body p {
        text-align: left;
    }

    .modal-body .list-inline > li {
        text-align: left;
    }

    .modal-body .list-inline > li {
        color: #93b3b3;
    }

    .portfolio-modal .modal-content ul.list-inline {
        text-align: left;
    }

}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {

    /* SECTION HOME */
    .navbar-default {
        padding: 10px 0;
        height: auto;
    }

    .heroImg {
        background-size: 50%;
    }

    h1 {
        font-size: 3rem;
        line-height: 3.8rem;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    header h2 {
        font-size: 1.8rem;
    }

    header .lead {
        padding: 20px 0;
        max-width: 90%;
        font-size: 1rem;
    }

    header a:first-child {
        margin-right: 6%;
    }

    #home .btn-default, #home .btn-primary {
        width: auto;
        display: inline-block;
    }

    header hr {
        width: 3%;
    }

    .btn-lg {
        padding: 16px 16px;
    }

    .btn {
        display: inline-block;
    }

    #home .btn-default {
        margin-bottom: 0;
    }

    /* SECTION ABOUT */
    #about h3 {
        text-align: left;
        margin-top: 3rem;
        color: #545454;
    }

    .lead {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    #about p {
        line-height: 1.8rem;
    }

    #about #myPic {
        margin: 2rem auto;
        max-width: 50%;
    }

    #about .btn-link {
        font-size: 1rem;
    }

    /* SECTION SKILLS */
    .panel-group {
        width: 100%;
    }

    /* SECTION BLOG */
    #blog .nav-tabs {
        border-bottom: 1px solid #ffffff;
    }

    #blog .nav > li > a {
        position: relative;
        display: block;
        padding: 15px 50px;
        width: 100%;
        border: 1px solid #bbbbbb;
        margin: 4px;
    }

    #blog .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
    }

    #blog .nav-tabs > li.active > a,
    #blog .nav-tabs > li.active > a:hover,
    #blog .nav-tabs > li.active > a:focus {
        color: #777777;
        background-color: #fcfcfc;
        border: 3px solid #4ecdc4;
        cursor: default;
    }

    #blog h3 {
        text-align: center;
        margin: 30px 0 10px 0;
    }

    #blog p {
        text-align: left;
    }

    #blog .lightGray {
        text-align: center;
    }

    #blog a {
        display: block;
        margin: 0 auto;
        font-size: 1.0rem;
    }

    /* SECTION FOOTER */
    footer ul {
        text-align: center;
    }

    footer p, footer h4 {
        text-align: center;
        padding: 0.5rem 0;
    }

    footer .socialIcons i {
        font-size: 1.4rem;
    }

    footer a:link, footer a:visited {
        text-align: center;
        display: block;
    }

    #linkedin,
    #behance,
    #facebook,
    #twitter,
    #github {
        display: none;
    }

    .socialIcons {
        display: inline-block;
        margin: 0 auto;
        max-width: 992px;
    }

    #usefulLinks {
        display: none;
    }

    .portfolio-modal .modal-content ul.list-inline {
        text-align: center;
    }

}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {

    h1 {
        font-size: 2.5rem;
        color: #545454;
        font-weight: bold;
        line-height: 3.3rem;
    }

    header .lead {
        max-width: 90%;
        padding: 1px 0 40px 0;
        font-size: 18px;
        line-height: 1.8rem;
    }

    header a:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }

    header hr {
        width: 19%;
    }

    header .btn-default, header .btn-primary {
        width: 100%;
    }

    .navbar-brand {
        height: 50px;
    }

    .nav > li {
        position: relative;
        display: block;
        text-align: center;
        text-transform: uppercase;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background: #f7f7f7;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border: none;
    }

    .navbar-toggle {
        margin-top: 6px;

    }

    header .btn-lg{
        padding: 19px 16px;
        font-size: 17px;
    }

    .lead{
        font-size: 20px;

    }

    #about p{
        line-height: 1.9rem;
    }

    section, footer{
        padding: 40px 0;
    }

    #about .btn-link{
        font-size: 16px;
    }

    #about h3{
        font-weight: 600;
        padding: 20px 15px 0 15px;
        color: #545454;
    }

    #about #myPic{
        display: none;
    }

    #about h4{
        text-align: left;
        font-size: 20px;
        line-height: 1.8rem;
    }

    #about h5{
        font-size: 15px;
        text-align: left;
    }

    #about p{
        text-align: left;
    }

    #about .row .columnMargin{
        margin: 15px auto;
    }

    #skills .lead{
        width: 100%;
    }

    #skills .panel-group{
        width: 100%;
        margin: 18px auto;
    }

    #skills ul{
        list-style: none;
        text-align: center;
        padding-left: 0;
        line-height: 2rem;
    }

    .panel-success > .panel-heading{
        color: #4ecdc4;
        background-color: #ffffff;
        border-color: #4ecdc4;
    }

    .panel-success > .panel-heading, #panelTitle  {

        font-size: 20px;
        font-weight: 600;
        text-align: center;
        display: block;

    }

    .panel-heading{
        padding: 20px 15px;
    }



    footer p, footer h4 {
        text-align: center;
        padding: 0.5rem 0;
    }

    footer a:link, footer a:visited {
        text-align: center;
        display: block;
    }

    footer .socialIcons i {
        font-size: 1.4rem;
    }

    .copyright {
        width: 80%;
        margin: 30px auto 0 auto;
    }

    #usefulLinks {
        display: none;
    }

    #linkedin, #behance, #facebook, #twitter, #github {
        display: none;
    }

    .socialIcons {
        display: inline-block;
        margin: 0 auto;
        max-width: 992px;
    }

    footer ul{
        text-align: center;
    }

    footer img {
        margin-bottom: 1rem;
    }

    #blog .nav-tabs > li.active > a,
    #blog .nav-tabs > li.active > a:hover,
    #blog .nav-tabs > li.active > a:focus{
        color: #777777;
        border: 2px solid #4ecdc4;
        cursor: default;
    }

    #blog .nav-tabs > li > a {
        line-height: 1.42857143;
        border: 2px solid #cce4e3;
        border-radius: 4px;
        background: #ffffff;
        color: #93b3b2;
        margin: 10px auto 0 auto;
    }

    #blog .nav > li > a {
        position: relative;
        display: block;
        padding: 18px 35px;
        width: 100%;
        border: 1px solid #bbbbbb;
        margin: 12px 0;
    }

    #blog a {
        font-size: 1.1rem;
        display: block;
    }


    .iconSpace{
        font-size: 1rem;
    }

    #blog .iconSpace:last-child, #blog .fa-clock-o{
        display: none;

    }

    #blog h3 {

        font-size: 1.8rem;
        margin: 30px 0 16px 0;
        text-align: center;
    }

    #blog .lightGray{
        text-align: center;
    }

    #blog .nav-tabs{
        border-bottom: none;
    }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {

    /* SECTION HOME */
    .navbar-default {
        padding: 0;
    }

    .heroImg {
        background-size: 30%;
    }

    #home .btn-default, #home .btn-primary {
        width: auto;
        display: inline-block;
    }

    header hr {
        width: 3%;
    }

    .btn-lg {
        padding: 16px 16px;
    }

    .btn {
        display: inline-block;
    }

    #home .btn-default {
        margin-bottom: 0;
    }

    /* SECTION BLOG */
    #blog .nav-tabs > li > a:hover {
        background-color: transparent;
        color: #808990;
    }

    #blog .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 2px solid #cce4e3;
        border-radius: 4px;
        background: #ffffff;
        color: #93b3b2;
        margin-bottom: 2px;
    }

    #blog .nav-tabs > li {
        margin: 9px 3px 0 0;
    }

    #blog .nav > li > a {
        padding: 15px 30px;
    }

    #blog .nav-tabs > li.active > a,
    #blog .nav-tabs > li.active > a:hover,
    #blog .nav-tabs > li.active > a:focus {
        color: #4ecdc4;
        background-color: #ffffff;
        border: 2px solid #4ecdc4;
        cursor: default;
    }

    #blog p {
        text-align: center;
    }

    #blog .lightGray {
        text-align: center;
    }

    #blog a {
        display: block;
    }

    .nav-tabs > li, .nav-pills > li {
        display: inline-block;
    }

    #blog .nav-tabs {
        border-bottom: none;
    }

    #blog .nav-tabs > li {
        margin-bottom: -4px;
    }

    #blog h3 {
        text-align: center;
        margin: 50px 0 15px 0;
    }

    /* SECTION FOOTER */
    #usefulLinks {
        display: none;
    }

    footer a:link, footer a:visited {
        text-align: center;
        display: inline-block;
    }

    #blog .nav-tabs > li {
        margin: 9px 4px 0 0;
    }

    footer p, footer h4 {
        text-align: center;
        padding: 0.5rem 0;
    }

    #linkedin,
    #behance,
    #facebook,
    #twitter,
    #github {
        display: none;
    }

    .socialIcons {
        display: inline-block;
        margin: 0 auto;
        max-width: 992px;
    }

    footer .socialIcons i {
        font-size: 1.4rem;
    }

    footer a:link, footer a:visited {
        text-align: center;
        display: block;
    }

    footer ul {
        text-align: center;
    }

    /* SECTION ABOUT */
    #about #myPic {
        margin: 0 auto;
        max-width: 40%;
    }

    #about img {
        width: 100%;

    }

    /* SECTION PORTFOLIO */
    .portfolio-modal .modal-content ul.list-inline {
        text-align: center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

    /* SECTION HOME */
    #home .btn-default, #home .btn-primary {
        width: auto;
        display: inline-block;
    }

    header hr {
        width: 3%;
    }

    .btn-lg {
        padding: 16px 16px;
    }

    .btn {
        display: inline-block;
    }

    #home .btn-default {
        margin-bottom: 0;
    }

    .heroImg {
        background-size: 20%;
    }

    /* SECTION ABOUT */
    #about #myPic {
        margin: 0 auto;
        max-width: 100%;
        display: block;
    }

    /* SECTION PORTFOLIO */
    .portfolio-modal .modal-content ul.list-inline {
        text-align: center;
    }

    /* SECTION BLOG */
    #blog .nav-tabs > li > a:hover {
        background-color: transparent;
        color: #808990;
    }

    #blog .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 2px solid #cce4e3;
        border-radius: 4px 4px 0 0;
        background: #ffffff;
        color: #93b3b2;
        margin-bottom: 2px;
    }

    #blog .nav-tabs > li {
        margin: 9px 3px 0 0;
    }

    #blog .nav > li > a {
        padding: 15px 35px;
    }

    #blog .nav-tabs > li.active > a,
    #blog .nav-tabs > li.active > a:hover,
    #blog .nav-tabs > li.active > a:focus {
        color: #4ecdc4;
        background-color: #ffffff;
        border: 2px solid #4ecdc4;
        cursor: default;
    }

    #blog p {
        text-align: left;
    }

    #blog a {
        display: inline-block;
    }

    #blog .lightGray {
        text-align: left;
    }

    .nav-tabs > li, .nav-pills > li {
        display: inline-block;
    }

    #blog .nav-tabs {
        border-bottom: 1px solid #dddddd;
    }

    #blog .nav-tabs > li {
        margin-bottom: -4px;
    }

    #blog h3 {
        text-align: left;
        margin: 0 0 10px 0;
    }

    /* SECTION FOOTER */
    #linkedin,
    #behance,
    #facebook,
    #twitter,
    #github {
        display: inline-block;
    }

    footer .socialIcons {
        display: block;
    }

    footer .socialIcons i {
        font-size: 1.2rem;
        padding: 0;
    }

    footer a:link, footer a:visited {
        text-align: left;
        display: inline-block;
    }

    footer p, footer h4 {
        text-align: left;
    }

    #usefulLinks {
        display: block;
    }

    footer ul {
        text-align: left;
    }

}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {

    /* SECTION HOME */
    #home .btn-default, #home .btn-primary {
        width: auto;
        display: inline-block;
    }

    header hr {
        width: 3%;
    }

    .btn-lg {
        padding: 16px 16px;
    }

    .btn {
        display: inline-block;
    }

    #home .btn-default {
        margin-bottom: 0;
    }

    /* SECTION ABOUT */
    #about #myPic {
        margin: 0 auto;
        max-width: 100%;
        display: block;
    }

    #about img {
        width: 100%;
    }

    .heroImg {
        background-size: 20%;
    }

    /* SECTION PORTFOLIO */
    .portfolio-modal .modal-content ul.list-inline {
        text-align: center;
    }

    /* SECTION BLOG */
    #blog .nav-tabs > li.active > a:hover,
    #blog .nav-tabs > li.active > a:focus {
        background: transparent;
        color: #4ecdc4;
        border: 2px solid #4ecdc4;
        border-bottom: none;
        cursor: default;
    }

    .nav-tabs > li, .nav-pills > li {
        display: inline-block;
    }

    #blog .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 2px solid #cce4e3;
        border-radius: 4px 4px 0 0;
        background: #ffffff;
        color: #93b3b2;
        margin-bottom: 2px;
    }

    #blog .nav-tabs > li.active > a,
    #blog .nav-tabs > li.active > a:hover,
    #blog .nav-tabs > li.active > a:focus {
        color: #4ecdc4;
        background-color: #ffffff;
        border: 2px solid #4ecdc4;
        cursor: default;
    }

    #blog .nav-tabs {
        border-bottom: 2px solid #cce4e3;
    }

    #blog .nav-tabs > li {
        margin-bottom: -4px;
    }

    #blog h3 {
        text-align: left;
        margin: 0 0 10px 0;
    }

    #blog p {
        text-align: left;
    }

    #blog .lightGray {
        text-align: left;
    }

    #blog a {
        display: inline;
        margin: 0;
        font-size: 1.0rem;
    }

    /* SECTION FOOTER */
    #usefulLinks {
        display: block;
    }

    footer ul {
        display: block;
    }

    .copyright {
        text-align: center;
        padding-top: 30px;
        margin-top: 30px;
        width: 100%;
    }

}

/*---------------------------------

WORK

-----------------------------------*/

.portfolio {
    margin: 48px 0;
}

.portfolio-sorting {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 48px;
}

.portfolio-sorting li a {
    color: #808080;
    text-decoration: none;
    padding: 6px;
}

.portfolio-item {
    margin-bottom: 30px;
}

figure {
    margin: 1em 2px;
}

.bannerFullHeight {
    height: 100vh;
}

.bannerHalfHeight {
    height: 50vh;
}

.portfolio-sorting.nav-tabs > li a {
    position: relative;
    display: block;
    padding: 15px 50px;
    width: 100%;
    border: 1px solid #bbbbbb;
    margin: 4px;
}

.portfolio-sorting.nav-tabs > li, .portfolio-sorting.nav-pills > li {
    float: none;
    display: inline-block;
    zoom: 1;
}

.portfolio-sorting.nav-tabs > li.active > a,
.portfolio-sorting.nav-tabs > li.active > a:hover,
.portfolio-sorting.nav-tabs > li.active > a:focus {
    color: #777777;
    background-color: #fcfcfc;
    border: 3px solid #4ecdc4;
    cursor: default;

}

.portfolio-sorting.nav-tabs li {
    margin-bottom: 12px;
}

.portfolio-sorting.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.portfolio-sorting.nav-tabs {
    border-bottom: 1px solid #ffffff;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
}

.myProjects:hover .overlay {
    opacity: 0.7;
}

.myProjects:hover .projectDescription, .myProjects:hover .workCategory {
    opacity: 1;
}

.projectDescription {
    color: #343434;
    font-size: 1.5rem;
    top: 50%;
    font-weight: 700;
    line-height: 2.5rem;
}

.projectDescription, .workCategory {
    position: absolute;
    opacity: 0;
    z-index: 333;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50%;
}

.workCategory {
    font-size: 1rem;
    color: #556270;
    padding-top: 1rem;
    top: 60%;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/*------------------------------------------------------

    PROJECT SECTION

--------------------------------------------------------*/

.projectTitle {
    text-align: left;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 1rem;
}

.projectInfo {
    font-weight: 200;
    color: rgb(137, 137, 137);
}

#myCarousel {
    margin-bottom: 2rem;
}

.imageSpace {
    padding: 5rem 0;
}