/* ================================

    FONTS

===================================*/

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Semibold.eot');
    src: url('fonts/Open_Sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans.eot');
    src: url('fonts/Open_Sans/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ================================

    GENERAL

===================================*/

html {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    background: #ffffff;
}

body{
    position: relative;
}

.navbar-nav {
    margin: 34.5px -15px;
}

/* ================================

    Headings

===================================*/

h1, h3 {
    text-align: center;
    color: #808990;
}

h1 {
    font-size: 4rem;
    color: #545454;
    font-weight: bold;
    line-height: 4.3rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

header {

}

header h2 {
    font-size: 2rem;
}

header h3 {
    font-size: 3rem;
}

header .lead {

    text-align: center;
    padding: 10px 0;
    max-width: 50%;
    margin: 0 auto
}

header hr {
    width: 3%;
    border: 2px solid #EBBBA0;

}

.heroImg{
    background: linear-gradient(rgba(247, 247, 247, 0.8),
    rgba(247, 247, 247, 0.8)),
    url('../imgs/geometric.svg') center center repeat #f7f7f7;
    width: 100%;
    background-size: 16%;
    background-attachment: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbWrapper {
    position: relative;
    top: 82px;
}

.breadcrumb{
    padding: 8px 0;
}

/*------------------------------

    BUTTONS

--------------------------------*/

header a:first-child {
    margin-right: 2%;
}

header a {
    margin-top: 2%;
}

/* BUTTON DEFAULT*/

.btn-default {
    color: #fff;
    background: #EBBBA0 none;

}

.btn-default, .btn-default:hover {
    background-image: none;

}

.btn-default:hover {
    box-shadow: inset 0 0 0 5px #ebac88;
    background: #EBBBA0 none;
    border: 3px solid #ebac88;
    color: #FFFFFF;
}

.btn-default:active,
.btn-default.active {
    box-shadow: inset 0 0 0 0 #ebac88;
    color: #ffffff;
    background: none #FFFFFF;
    border-color: #ebac88;
}

.btn-default:focus,
.btn-default.focus {
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #ebac88;
    box-shadow: inset 0 0 0 0 #ebac88;
    background-image: none;
}

.btn-default:active:hover,
.btn-default.active:hover {
    color: #ffffff;
    background: none #EBBBA0;
    border-color: #ebac88;
}

.btn-default, .btn-primary {
    border-radius: 5px;
    border: 3px solid #ebac88;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    letter-spacing: 1px;

}

/* BUTTON PRIMARY*/

.btn-primary {
    color: #EBBBA0;
    background: transparent none;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 5px #ebac88;
    background: #FFFFFF none;
    border: 3px solid #ebac88;
    color: #EBBBA0;

}

.btn-primary:active,
.btn-primary.active {
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #ebac88;
    background-image: none;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #ebac88;
    box-shadow: inset 0 0 0 0 #ebac88;
    background-image: none;
}

.btn-primary:active:hover,
.btn-primary.active:hover {
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #ebac88;
    background-image: none;
}

.introWrapper h1 {
    width: 50%;
    font-size: 3rem;
}

.imgResponsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-boxSize {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 10px auto;
}

.portfolio-boxSize .portfolioContainerDescription {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.portfolio-boxSize .portfolioContainerDescription .portfolioDescription {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-boxSize:hover .portfolioContainerDescription {
    opacity: 1;

}

.portfolioDescription p {
    color: #343434;
}

.category {
    font-size: 1rem;
    text-transform: uppercase;
}

.projectName {
    font-size: 1.5rem;
}

.year {
    font-size: 1rem;
}

.justified-btn {
    margin: 0 auto;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-tabs, .nav-pills {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

.navbar-brand > img {
    width: 250%;
    max-width: 170px;
}

.navbar-brand {
    padding: 11px 15px;
}

footer img {
    width: 250%;
    max-width: 250px;
}

nav .navbar-nav .navbar-right li a {
    color: #bbbbbb;
}

nav .navbar-nav .navbar-right li a:hover {
    color: #4b5761;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    margin: 15px -15px;
}

.navbar-brand {
    padding: 23px 15px;
}

.navbar-brand > img {
    width: 250%;
    max-width: 170px;
    vertical-align: middle;
}

.navbar-default {
    background-color: #f7f7f7;
    border-color: #eeeeee;
}

@media (max-width: 767px) {

    .navbar-brand {
        padding: 16px 20px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #eeeeee;
        padding: 20px;
    }

}

/*---------------------------------------

    ABOUT

----------------------------------------*/

hr.pink-line {
    width: 10%;
    border: 2px solid #EBBBA0;
    text-align: center;
}

.primary-colour {

    background-color: #f7f7f7;
}

section, footer {
    padding: 100px 0;
}

.commas {
    content: open-quote;
    color: #ffffff;
    font-size: 4rem;
    margin-top: 2%;
}

#about p {
    color: #808990;
    line-height: 1.5rem;
}

#about h3 {
    color: #808990;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 20px;
}

hr.grayUnderline {
    margin: 20px;
}

.circle {
    border-radius: 50%;
    background: #FFFFFF;
    width: 50px;
    height: 50px;
    margin: 16px auto;
}

#about i {
    text-align: center;
    display: block;
    position: relative;
    color: #808990;
    padding-top: 2rem;

}

#about h4 {
    text-align: center;
    margin: 20px 0;
    color: #808990;
}

.educationParagraph {
    text-align: center;
}

/*-------------------------

     SERVICES

--------------------------*/

#services h3 {
    padding: 0 10px 0 5px;
    margin: 40px 0 20px 0;
    line-height: 2rem;
}

#services i {
    color: #EBBBA0;
    text-align: center;
    display: block;
    position: relative;
    top: 17px;
}

#services h3, #services p {
    color: #808990;
}

.box {
    background-color: #ffffff;
    padding: 7%;
    border-radius: 3px;
    border: solid 1px #f7f7f7;
    margin-bottom: 2rem;
}

.box .circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 16px auto;
}

/*-------------------------

     SKILLS

--------------------------*/

#skills .lead {
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.panel {
    background-color: #ffffff;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #d9230f;
}

.panel-primary {
    border-color: #ebbba0;
}

.panel-success > .panel-heading {
    color: #EBBBA0;
    background-color: #ffffff;
    border-color: #EBBBA0;
}

.panel-success {
    border-color: #ebbba0;
}

.bgLightGray {
    background-color: #f7f7f7;
}

.bgWhite {
    background-color: #ffffff;
}

.panel-group {
    width: 80%;
    margin: 18px auto;
}

/*  PORTFOLIO   */

.popup-gallery {
    margin: 4rem auto;
}

/* FOOTER */

footer {
    background-color: #808990;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

footer ul {
    list-style: none;
}

footer h4 {
    font-weight: 700;
}

footer p, footer h4 {
    color: #4b5761;
}

.copyright {
    text-align: center;
    color: #4b5761;
    border-top: solid 1px #bbbbbb;
    padding-top: 30px;
    margin-top: 30px;
    width: 100%;
}

footer a:link, footer a:visited {
    color: #4b5761;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover, footer a:active, footer a:focus {
    color: #bbbbbb;
    text-decoration: none;
}

footer .fa {
    color: #bbbbbb;
}

#readMoreText {
    display: none;
}

.lightGray {
    color: #a0a0a0;
}

footer .btn-link {
    color: #4b5761;
    font-size: 1rem;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

footer .btn-link:hover {
    color: #bbbbbb;
    text-decoration: none;
}

/* LATEST NEWS */

.tweaked-margin {
    margin-top: 2rem;
}

#blog h3 {
    text-align: left;
    margin: 0 0 10px 0;
}

#blog a {
    color: #EBBBA0;
}

#blog a:hover {
    color: #ebac88;
}

#blog article a {

    text-decoration: none;
    padding: 0;
}

.iconSpace {
    padding: 0 0 0 0.5rem;
    font-size: 0.8rem;
}

footer i {
    vertical-align: middle;
}

footer ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

footer .colorIcons {
    color: #bbb;
    font-size: 1.1rem;
    margin-right: 0.5rem;
    width: 28px;
    display: inline-block;
    line-height: 1.8rem;
}

footer img {
    margin-bottom: 4rem;
}

#emailLink {
    color: #ebbba0;
    padding: 1rem 0;
    font-size: 1.2em;
}

#emailLink:hover {
    color: #ebac88;
}

#emailLink i {
    font-size: 1.5rem;
    color: #ebbba0;
}

#about .btn-link {
    color: #EBBBA0;
    padding: 0;
}

#about .btn-link:hover {
    color: #ebbba0;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #EBBBA0;
    background-color: transparent;
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 7.5px -15px;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
        width: 100%;
    }

}

#usefulLinks{
    display: block;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #EBBBA0;

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 380px) {

    /* FOOTER */

    .copyright {
        width: 80%;
        margin: 30px auto 0 auto;
    }

    footer img {
        margin-bottom: 2rem;
    }

    #skills .lead{
        width: 100%;
    }

    .commas {
        font-size: 3rem;
    }

    #services ul {
        list-style: none;
        text-align: center;
        padding: 0 0 0 0;
    }

    #services p {
        color: #808990;
        text-align: center;
    }

    #services h3 {
        padding: 0 0 0 0;
        margin: 40px 0 20px 0;
        line-height: 2rem;
        text-align: center;

    }

    section, footer {
        padding: 40px 0;
    }

    footer ul {
        text-align: center;
    }

    #linkedin,
    #behance,
    #facebook,
    #twitter,
    #github {
        display: none;
    }

    .socialIcons {
        display: inline-block;
        margin: 0 auto;
        max-width: 992px;
    }

    #usefulLinks {
        display: none;
    }

    footer p, footer h4 {
        text-align: center;
        padding: 0.5rem 0;
    }

    footer .socialIcons i {
        font-size: 1.4rem;
    }

    footer a:link, footer a:visited {
        text-align: center;
        display: block;
    }

    /* SECTION HOME */

    h1 {
        font-size: 3rem;
        line-height: 3.8rem;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    header h2 {
        font-size: 1.8rem;
    }

    header .lead {
        padding: 20px 0;
        max-width: 90%;
        font-size: 1rem;
    }

    header a:first-child {
        margin-right: 6%;
    }

    /* SECTION ABOUT */

    #about h3 {
        text-align: left;
        margin-top: 3rem;
    }

    .lead {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    #about p {
        line-height: 1.8rem;

    }

    #about img {
        display: none;
    }

    #about .btn-link {
        font-size: 1rem;
    }

    /* SECTION SKILLS */
    .panel-group {
        width: 100%;
    }

    /* SECTION BLOG */
    #blog .nav-tabs {
        border-bottom: 1px solid #ffffff;
    }

    #blog .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 35px;
        width: 100%;
        border: 1px solid #bbbbbb;
        margin: 4px;
    }

    #blog .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid  #e0e0e0;
        border-radius: 2px;
    }

    #blog .nav-tabs > li.active > a,
    #blog .nav-tabs > li.active > a:hover,
    #blog .nav-tabs > li.active > a:focus {
        color: #777777;
        border: 2px solid #ebbba0;
        cursor: default;
    }

    #blog h3 {
        text-align: center;
        margin: 30px 0 10px 0;
    }

    #blog p {
        text-align: center;
    }

    #blog a {
        display: block;
        margin: 0 auto;
        font-size: 1.0rem;
    }

    #usefulLinks {
        display: none;
    }


    .popup-gallery{
        margin: 2rem auto;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

    /* SECTION HOME */

    h1 {
        font-size: 3rem;
        line-height: 3.8rem;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    header h2 {
        font-size: 1.8rem;
    }

    header .lead {
        padding: 20px 0;
        max-width: 90%;
        font-size: 1rem;
    }

    header a:first-child {
        margin-right: 6%;
    }

    /* SECTION ABOUT */

    #about h3 {
        text-align: center;
        margin-top: 3rem;
    }

    .lead {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    #about p {
        line-height: 1.8rem;
    }

    #about img {
        margin: 2rem auto;
        max-width: 50%;
    }

    #about .btn-link {
        font-size: 1rem;
    }

    /* SECTION SKILLS */

    .panel-group {
        width: 100%;
    }

    /* SECTION BLOG */

    #blog .nav-tabs {
        border-bottom: 1px solid #ffffff;
    }

    #blog .nav > li > a {
        position: relative;
        display: block;
        padding: 15px 50px;
        width: 100%;
        border: 1px solid #bbbbbb;
        margin: 4px;
    }

    #blog .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
    }

    #blog .nav-tabs > li.active > a,
    #blog .nav-tabs > li.active > a:hover,
    #blog .nav-tabs > li.active > a:focus {
        color: #777777;
        background-color: #fcfcfc;
        border: 3px solid #ebbba0;
        cursor: default;
    }

    #blog h3 {
        text-align: center;
        margin: 30px 0 10px 0;
    }

    #blog p {
        text-align: center;
    }

    #blog a {
        display: block;
        margin: 0 auto;
        font-size: 1.0rem;
    }

    /* SECTION FOOTER */

    footer ul {
        text-align: center;
    }

    footer p, footer h4 {
        text-align: center;
        padding: 0.5rem 0;
    }

    footer .socialIcons i {
        font-size: 1.4rem;
    }

    footer a:link, footer a:visited {
        text-align: center;
        display: block;
    }

    #linkedin,
    #behance,
    #facebook,
    #twitter,
    #github {
        display: none;
    }

    .socialIcons {
        display: inline-block;
        margin: 0 auto;
        max-width: 992px;
    }

    #usefulLinks {
        display: none;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

    /* SECTION FOOTER */

    #usefulLinks{
        display: none;
    }

    footer a:link, footer a:visited {
        text-align: center;
        display: inline-block;
    }

    #blog .nav-tabs > li {
        margin: 9px 4px 0 0;
    }

    footer p, footer h4 {
        text-align: center;
        padding: 0.5rem 0;
    }

    #linkedin,
    #behance,
    #facebook,
    #twitter,
    #github {
        display: none;
    }

    .socialIcons {
        display: inline-block;
        margin: 0 auto;
        max-width: 992px;
    }

    footer .socialIcons i {
        font-size: 1.4rem;
    }

    footer a:link, footer a:visited {
        text-align: center;
        display: block;
    }

    footer ul {
        text-align: center;
    }

    /* SECTION ABOUT */

    #about img {
        margin: 0 auto;
        max-width: 40%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {


    /* SECTION ABOUT */

    #about img {
        margin: 0 auto;
        max-width: 100%;
        display: block;
    }

    /* SECTION BLOG */

    #blog .nav-tabs > li > a:hover {
        background-color: transparent;
        color: #808990;
    }

    #blog .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
    }

    #blog .nav-tabs > li {
        margin: 9px 3px 0 0;
    }

    #blog .nav-tabs > li.active > a, #blog .nav-tabs > li.active > a:hover, #blog .nav-tabs > li.active > a:focus {
        color: #777777;
        background-color: #fcfcfc;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
        cursor: default;
    }

    #blog .nav-tabs {
        border-bottom: 1px solid #dddddd;
    }

    #blog .nav-tabs > li {
        margin-bottom: -4px;
    }

    #blog h3 {
        text-align: left;
        margin: 0 0 10px 0;
    }

    /* SECTION FOOTER */

    #linkedin,
    #behance,
    #facebook,
    #twitter,
    #github {
        display: inline-block;
    }

    footer .socialIcons {
        display: block;
    }

    footer .socialIcons i {
        font-size: 1.2rem;
        padding: 0;
    }

    footer a:link, footer a:visited {
        text-align: left;
        display: inline-block;
    }

    footer p, footer h4 {
        text-align: left;
    }

    #usefulLinks{
        display: block;
    }

    footer ul {
        text-align: left;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {


    /* SECTION ABOUT */

    #about img {
        margin: 0 auto;
        max-width: 100%;
        display: block;
    }

    /* SECTION BLOG */

    #blog .nav-tabs > li.active > a, #blog .nav-tabs > li.active > a:hover, #blog .nav-tabs > li.active > a:focus {
        color: #777777;
        background-color: #fcfcfc;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
        cursor: default;
    }

    #blog .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
    }

    #blog .nav-tabs {
        border-bottom: 1px solid #dddddd;
    }

    #blog .nav-tabs > li {
        margin-bottom: -4px;
    }

    #blog h3 {
        text-align: left;
        margin: 0 0 10px 0;
    }

    #blog p {
        text-align: left;
    }

    #blog a {
        display: inline;
        margin: 0;
        font-size: 1.0rem;
    }

    /* SECTION FOOTER */

    #usefulLinks{
        display: block;
    }

    footer ul{
        display: block;
    }

    .copyright {
        text-align: center;
        padding-top: 30px;
        margin-top: 30px;
        width: 100%;
    }

}

/*---------------------------------

WORK

-----------------------------------*/

.portfolio
{
    margin: 48px 0;
}

.portfolio-sorting
{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 48px;
}

.portfolio-sorting li a
{
    color: #808080;
    text-decoration: none;
    padding: 6px;
}


.portfolio-item
{
    margin-bottom: 30px;
}


figure {
    margin: 1em 2px;
}



.bannerFullHeight{
    height: 100vh;
}
.bannerHalfHeight{
    height: 50vh;
}


.portfolio-sorting.nav-tabs > li a{
    position: relative;
    display: block;
    padding: 15px 50px;
    width: 100%;
    border: 1px solid #bbbbbb;
    margin: 4px;
}

.portfolio-sorting.nav-tabs > li, .portfolio-sorting.nav-pills > li{
    float: none;
    display: inline-block;
    zoom: 1;
}

.portfolio-sorting.nav-tabs > li.active > a,
.portfolio-sorting.nav-tabs > li.active > a:hover,
.portfolio-sorting.nav-tabs > li.active > a:focus{
    color: #777777;
    background-color: #fcfcfc;
    border: 3px solid #ebbba0;
    cursor: default;

}


.portfolio-sorting.nav-tabs li{
    margin-bottom: 12px;
}

.portfolio-sorting.nav-tabs>li>a{
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}
.portfolio-sorting.nav-tabs{
    border-bottom: 1px solid #ffffff;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
}

.myProjects:hover .overlay {
    opacity: 0.7;
}

.myProjects:hover .projectDescription, .myProjects:hover .workCategory {
    opacity: 1;
}

.projectDescription {
    color: #343434;
    font-size: 1.5rem;
    top: 50%;
    font-weight: 700;
    line-height: 2.5rem;
}

.projectDescription, .workCategory {
    position: absolute;
    opacity: 0;
    z-index: 333;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50%;
}

.workCategory {
    font-size: 1rem;
    color: #556270;
    padding-top: 1rem;
    top: 60%;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}


/*------------------------------------------------------

    PROJECT SECTION

--------------------------------------------------------*/

.projectTitle{
    text-align: left;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 1rem;
}

.projectInfo{
    font-weight: 200;
    color: rgb(137, 137, 137);
}

#myCarousel{
    margin-bottom: 2rem;
}

.imageSpace{
    padding: 5rem 0;
}