

/* ================================

    FONTS

===================================*/

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/Open_Sans/OpenSans-Semibold.eot');
	src: url('fonts/Open_Sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Open_Sans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/Open_Sans/OpenSans.eot');
	src: url('fonts/Open_Sans/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('fonts/Open_Sans/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ================================

    GENERAL

===================================*/


html{
    font-family:'Open Sans', Helvetica, sans-serif;
}

html,
body{
    height:100%;
    width:100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height:25px;
    background: #ffffff;
}


.navbar-nav {
    margin: 34.5px -15px;
}



/* ================================

    Headings

===================================*/

h1,h2,h3{
    text-align: center;
}

h1{
    font-size:4rem;
    color: #545454;
    font-weight: bold;
    line-height: 4.3rem;
}

h2{
    text-align:center;
    font-size: 2rem;
}




header{
    background: linear-gradient(rgba(255, 255, 255, 0.8),
                 rgba(255, 255, 255, 0.8)),
                 url('../imgs/geometric.svg')
                 center center repeat #f7f7f7;
    width: 100%;
    background-size: 16%;
    background-attachment:scroll;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


header h2{
    font-size:2rem;
}
header h3{
    font-size:3rem;
}

header .lead{

    text-align: center;
    padding: 10px 0;
    max-width: 50%;
    margin: 0 auto
}

header hr{
    width: 3%;
    border: 2px solid #EBBBA0;

}







/*------------------------------

    BUTTONS

--------------------------------*/


header a:first-child{
    margin-right: 2%;
}

header a{
    margin-top: 2%;
}
/* BUTTON DEFAULT*/


.btn-default{
    color: #fff;
    background: #EBBBA0 none;

}

.btn-default, .btn-default:hover{
    background-image: none;

}


.btn-default:hover {
    box-shadow: inset 0 0 0 5px #ebac88;
    background: #EBBBA0 none;
    border: 3px solid #ebac88;
    color: #FFFFFF;
}
.btn-default:active,
.btn-default.active {
    box-shadow: inset 0 0 0 0 #ebac88;
    color: #ffffff;
    background:none #FFFFFF;
    border-color: #ebac88;
}



.btn-default:focus,
.btn-default.focus {
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #ebac88;
    box-shadow: inset 0 0 0 0 #ebac88;
    background-image: none;
}

.btn-default:active:hover,
.btn-default.active:hover{
    color: #ffffff;
    background: none #EBBBA0;
    border-color: #ebac88;
}



.btn-default, .btn-primary{
    border-radius: 5px;
    border: 3px solid #ebac88;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    letter-spacing: 1px;

}


/* BUTTON PRIMARY*/

.btn-primary{
    color: #EBBBA0;
    background:transparent none;
}


.btn-primary:hover{
    box-shadow: inset 0 0 0 5px #ebac88;
    background: #FFFFFF none;
    border: 3px solid #ebac88;
    color: #EBBBA0;

}


.btn-primary:active,
.btn-primary.active {
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #ebac88;
    background-image: none;
}



.btn-primary:focus,
.btn-primary.focus {
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #ebac88;
    box-shadow: inset 0 0 0 0 #ebac88;
    background-image: none;
}

.btn-primary:active:hover,
.btn-primary.active:hover{
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #ebac88;
    background-image: none;
}








.introWrapper h1{
    width:50%;
    font-size:3rem;
}


.imgResponsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-boxSize{
        position: relative;
        display: block;
        max-width: 650px;
        margin: 10px auto;
}

.portfolio-boxSize .portfolioContainerDescription{
    color: white;
    opacity: 0;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.portfolio-boxSize .portfolioContainerDescription .portfolioDescription{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.portfolio-boxSize:hover .portfolioContainerDescription{
    opacity: 1;

}

.portfolioDescription p{
    color: #343434;
}

.category{
    font-size: 1rem;
    text-transform: uppercase;
}

.projectName{
    font-size: 1.5rem;
}

.year{
    font-size: 1rem;
}

.justified-btn{
    margin: 0 auto;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom:1;
}

.nav-tabs, .nav-pills{
    text-align: center;
}

.navbar-brand>img{
    width: 250%;
    max-width: 170px;
}

.navbar-brand{
    padding: 11px 15px;
}

footer img{
    width: 250%;
    max-width: 250px;
}

.navbar{
    margin-bottom: 0;
}
.navbar-nav{
    margin: 15px -15px;
}
.navbar-brand {
    padding: 23px 15px;
}
.navbar-brand>img {
    width: 250%;
    max-width: 170px;
    vertical-align: middle;
}

.navbar-default{
    background-color: #fefefe;
    border-color: #eeeeee;
}

@media (max-width: 767px) {

    .navbar-brand {
        padding: 11px 15px;
    }

}



/*---------------------------------------

    ABOUT

----------------------------------------*/

hr.pink-line{
    width: 3%;
    border: 2px solid #EBBBA0;
    text-align: center;
}
.primary-colour{

    background-color: #f7f7f7;
}

section {
    padding: 100px 0;
}

.commas{
    content: open-quote;
    color: #ffffff;
    font-size: 4rem;
    margin-top: 2%;
}

#about p{
    color: #808990;
    line-height: 1.5rem;
}



#about h3{
    color: #808990;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 20px;
}

hr.grayUnderline{
    margin: 20px;
}

.circle{
    border-radius: 50%;
    background: #FFFFFF;
    width: 50px;
    height: 50px;
    margin: 16px auto;
}

#about i{
    text-align: center;
    display: block;
    position: relative;
    top: 17px;
}

#about h4{
    text-align: center;
    margin: 20px 0;
}

.educationParagraph{
    text-align: center;
}


/*-------------------------

     SERVICES

--------------------------*/

#services h3 {
    display: inline-block;
    padding: 0 10px 0 5px;
    margin: 40px 0 20px 0;
}

#services i{
    color: #EBBBA0;
}

#services h3, #services  p{
    color: #808990;
}


/*-------------------------

     SKILLS

--------------------------*/


#skills .lead{
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.panel{
    background-color: #f7f7f7;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #EBBBA0;
    border-color: #d9230f;
}

.panel-primary{
    border-color:#ebbba0;
}

.panel-success>.panel-heading {
    color: #EBBBA0;
    background-color: #f7f7f7;
    border-color: #EBBBA0;
}

.panel-success{
    border-color:#ebbba0;
}

#skills{
    background-color: #f7f7f7;
}

.panel-group{
    width: 80%;
    margin: 18px auto;
}


/*  PORTFOLIO   */

.popup-gallery{
    margin: 4rem auto;
}


/* FOOTER */


footer{
    background-color: #808990;
}